/* my css */

/* media queries */
/* welcome logo */

/* small  */
@media(max-width:440px){

    .welcome-bg{
        background-image: url("images/welcomeMobile2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
        /* background-color: blueviolet; */
    }

    .my-welcome-logo{
        width:250px;
        
    }

    video{
        width:100%;
        height:auto
    }
    
    #collect-btn img{
        width:20px;
        height:"auto"
    }

    #video-title img{
        width:30px;
        height:"auto";
        border-radius: 10%;
    }

    /* #video-title .img-size{
        width:40px;
        height:"auto";
        
    } */

    #video-title h4{
        font-size: 0.75em;
        
    }

    #video-title{
        border: 2px solid rgb(21, 147, 156);
        margin: 10px 10px;
    }

    .video-margin{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer{        
        margin-top: 200px;  
        margin-bottom: 40px;     
        width:100%;        
        background-color: rgb(130, 130, 130);
        
    }
    footer p{       
        
        font-size: 0.8em;
        text-align: end;
        
    }
    footer a{
        color: white;
        margin-left: 10px;
    }
   

    #projects-body .font-size{
        font-size: 2em;
    }

    /* coins animation: */
    @keyframes coinsUp {
        from {
            position: relative;
            top:0;
            left:0;
        } to {
            position: relative;
            top:-280px;
            left:20px;
        }
      }
    
    #user-coins.ng-hide{
        animation: 1s coinsUp;
    }

    /* css for the project-info page */
    .project-title{
        font-size: 1.5em;
        color:rgb(21, 147, 156);
    }

}

@media(min-width:441px){

    .welcome-bg{
    background-image: url("images/hands.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto; 
    }

    .welcome-text h1{
        font-size: 3em !important;
        color: black !important;
    }
    .welcome-text p{
        font-size: 2em;
        color: black !important;
        
    } 
    
    video{
        width:70%;
        height:auto
    }

    #collect-btn img{
        width:30px;
        height:"auto"
    }

    #video-title img{
        width:60px;
        height:"auto";
        border-radius: 10%;
    }

    #video-title{
        border: 2px solid rgb(21, 147, 156);
        margin: 10px 10px;
        margin-right:175px;
        margin-left:175px;
    }
   
    #projects-body .font-size{
        font-size: 3em;
    }

    /* coins animation: */
    @keyframes coinsUp {
        from {
            position: relative;
            top:0;
            left:0;
        } to {
            position: relative;
            top:-540px;
            left:180px;
        }
      }
    
    #user-coins.ng-hide{
        animation: 1s coinsUp;
    }

    footer{        
        margin-top: 50px;               
        width:100%;        
        background-color: rgb(130, 130, 130);
        
    }
    footer p{       
        
        font-size: 1em;
        text-align: end;
        
    }
    footer a{
        color: white;
        margin-left: 10px;
    }
}



.app-box-shadow{
    box-shadow: 5px 10px 8px 3px #999;
}

.aboutus-paragraph{

    font-size:1.4em;
}


