<navbar></navbar>

<!-- The video ad page -->

<div id="video-page-body">

        <div class="container">
    
            <h4 class="text-center">You raised {amount of coins} for</h4>
            <h4 class="text-center">{name of supported project}</h4>
    
            <div class="">
                <div id="video ad">
                    <video src="app/images/videoTest.mp4" controls></video>
                </div>

            </div>

            <div class="row" id="like-dislike-btns">
                <div class="col-sm-5">
                    <div id="dislike-btn">
                        <button class="btn" ng-click="collectCoins()"><i class="far fa-thumbs-down"></i></button>

                    </div>

                </div>
                <div class="col-sm-5">
                    <div id="like-btn">
                        <button class="btn" ng-click="collectCoins()"><i class="far fa-thumbs-up"></i></button>
                    </div>

                </div>

            </div>
    
        </div>
    
    
    
    </div>